<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bg_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {286, 392}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{286, 392}</string>
			<key>spriteSourceSize</key>
			<string>{286, 392}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{656, 852}, {286, 392}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {644, 474}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{644, 474}</string>
			<key>spriteSourceSize</key>
			<string>{644, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1187, 852}, {644, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {654, 1305}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{654, 1305}</string>
			<key>spriteSourceSize</key>
			<string>{654, 1305}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {654, 1305}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {653, 850}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{653, 850}</string>
			<key>spriteSourceSize</key>
			<string>{653, 856}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{656, 0}, {653, 850}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_lake_ground_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 181}</string>
			<key>spriteSourceSize</key>
			<string>{640, 181}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 1864}, {640, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_underwater_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{640, 200}</string>
			<key>spriteSourceSize</key>
			<string>{640, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1284, 1732}, {640, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_underwater_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{640, 200}</string>
			<key>spriteSourceSize</key>
			<string>{640, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1311, 0}, {640, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_water_bottom_beams.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {543, 555}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{543, 555}</string>
			<key>spriteSourceSize</key>
			<string>{543, 555}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 1307}, {543, 555}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_water_top_beams.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {531, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{531, 139}</string>
			<key>spriteSourceSize</key>
			<string>{531, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1311, 202}, {531, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pier_bottom_cliff.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 557}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{640, 557}</string>
			<key>spriteSourceSize</key>
			<string>{640, 557}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1307}, {640, 557}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pier_top.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{640, 100}</string>
			<key>spriteSourceSize</key>
			<string>{640, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1866}, {640, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pier_top_front_pillars.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 23}, {550, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{640, 100}</string>
			<key>spriteSourceSize</key>
			<string>{640, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1284, 1934}, {640, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>treasure_light.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{51, 102}</string>
			<key>spriteSourceSize</key>
			<string>{51, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1187, 1732}, {51, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>underwater_temple.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 402}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 402}</string>
			<key>spriteSourceSize</key>
			<string>{640, 402}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1187, 1328}, {640, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>underwater_temple_treasure.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 41}</string>
			<key>spriteSourceSize</key>
			<string>{45, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1968}, {45, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>bg_spritesheet.zwd</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>bg_spritesheet_1</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>bg_spritesheet_1</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>