<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>enemy_blood_000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 9}, {439, 228}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{703, 266}</string>
			<key>spriteSourceSize</key>
			<string>{703, 266}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{705, 0}, {703, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_blood_001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{179, 2}, {393, 252}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{703, 266}</string>
			<key>spriteSourceSize</key>
			<string>{703, 266}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 268}, {703, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_blood_002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{262, 14}, {367, 230}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{703, 266}</string>
			<key>spriteSourceSize</key>
			<string>{703, 266}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 536}, {703, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_blood_003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{378, 0}, {325, 266}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{703, 266}</string>
			<key>spriteSourceSize</key>
			<string>{703, 266}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {703, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_bullet_fast_000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {64, 206}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 208}</string>
			<key>spriteSourceSize</key>
			<string>{72, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 804}, {72, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_bullet_fast_001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {64, 206}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 208}</string>
			<key>spriteSourceSize</key>
			<string>{72, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{74, 804}, {72, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_bullet_fast_002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {64, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 208}</string>
			<key>spriteSourceSize</key>
			<string>{72, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{148, 804}, {72, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_bullet_fast_003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {72, 206}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 208}</string>
			<key>spriteSourceSize</key>
			<string>{72, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{222, 804}, {72, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_bullet_normal_000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {47, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{59, 81}</string>
			<key>spriteSourceSize</key>
			<string>{59, 81}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{567, 887}, {59, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_bullet_normal_001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {53, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{59, 81}</string>
			<key>spriteSourceSize</key>
			<string>{59, 81}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{567, 804}, {59, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_bullet_normal_002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{59, 81}</string>
			<key>spriteSourceSize</key>
			<string>{59, 81}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{506, 887}, {59, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_bullet_normal_003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {53, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{59, 81}</string>
			<key>spriteSourceSize</key>
			<string>{59, 81}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{506, 804}, {59, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_bullet_slow_000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {89, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 100}</string>
			<key>spriteSourceSize</key>
			<string>{103, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{401, 906}, {103, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_bullet_slow_001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {91, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 100}</string>
			<key>spriteSourceSize</key>
			<string>{103, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{296, 906}, {103, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_bullet_slow_002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {101, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 100}</string>
			<key>spriteSourceSize</key>
			<string>{103, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{401, 804}, {103, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_bullet_slow_003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {103, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 100}</string>
			<key>spriteSourceSize</key>
			<string>{103, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{296, 804}, {103, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>effects_enemy_ss</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>effects_enemy_ss</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>effects_enemy_ss</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>